<h1>create new Doctor</h1>

<form action="/doctor" method="post" >
<div>
    <label>Name</label>
    <input type="text" class="form-control" name="name">
</div>

<div>
    <label>Id</label>
    <input type="text" class="form-control" name="id">
</div>

<div>
    <button class="btn btn-success" type="submit">save</button>
</div>

</form>